@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

.open{
  width: 100%;
  padding-left: 0;
  transition: all 0.5s ease-in-out;

}

.close{
  width: 0%;
  padding-left: 0;
  transition: all 0.5s ease-in-out;
}